<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Hp/workspace/MavenProject">
        <classes>
            <class name="TestNG_Tutorial.Test.Xml_Exercises">
                <methods>
                    <exclude name="Mobile.*"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>